<% layout('boilerplate') %>
    <link rel="stylesheet" href="/stars.css">

    <div class="row">
        <!-- Left Column (Images and Details) -->
        <div class="col-12 col-md-6">
            <div class="card mb-3">
                <div id="carouselExample" class="carousel slide">
                    <div class="carousel-inner">
                        <% for(let img of cp.images){ %>
                            <div class="carousel-item active">
                                <img src="<%=img.url %>" class="d-block w-100" alt="..." style="height: 400px;">
                            </div>
                            <% } %>
                    </div>
                    <% if(cp.images.length>1){ %>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample"
                            data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselExample"
                            data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                        <% } %>
                </div>
                <div class="card-body">
                    <h5 class="card-title">
                        <%=cp.title %>
                    </h5>
                    <p class="card-text">
                        <%=cp.description %> .
                    </p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        $<%=cp.price %>/night
                    </li>
                    <li class="list-group-item">
                        <%=cp.location %>
                    </li>
                    <li class="list-group-item">
                        submitted by <%= cp.author.username %>
                    </li>
                </ul>
                <% if(currentUser && cp.author.equals(currentUser._id)) {%>
                    <div class="card-body d-flex" style="gap:10px">
                        <a href="/campgrounds/<%=cp._id%>/edit" class="btn btn-warning card-link">Edit</a>
                        <form action="/campgrounds/<%=cp._id%>/delete?_method=DELETE" method="POST">
                            <button class="btn btn-danger">Delete</button>
                        </form>
                    </div>
                    <% } %>
            </div>
        </div>

        <!-- Right Column (Map and Reviews) -->
        <div class="col-12 col-md-6">
            <div id="map" style="width:100%; height:300px;"></div>

            <% if(currentUser){ %>
                <!-- Review Form -->
                <form action="/campgrounds/<%=cp._id%>/reviews" class="mb-3 needs-validation" method="POST" novalidate>
                    <h1>Leave a review:</h1>
                    <fieldset class="starability-basic">
                        <legend>Rating:</legend>
                        <input type="radio" id="no-rate" class="input-no-rate" name="review[rating]" value="0" checked
                            aria-label="No rating." />
                        <input type="radio" id="first-rate1" name="review[rating]" value="1" />
                        <label for="first-rate1" title="Terrible">1 star</label>
                        <input type="radio" id="first-rate2" name="review[rating]" value="2" />
                        <label for="first-rate2" title="Not good">2 stars</label>
                        <input type="radio" id="first-rate3" name="review[rating]" value="3" />
                        <label for="first-rate3" title="Average">3 stars</label>
                        <input type="radio" id="first-rate4" name="review[rating]" value="4" />
                        <label for="first-rate4" title="Very good">4 stars</label>
                        <input type="radio" id="first-rate5" name="review[rating]" value="5" />
                        <label for="first-rate5" title="Amazing">5 stars</label>
                    </fieldset>

                    <div class="mb-3">
                        <label for="body" class="form-label">Review</label>
                        <textarea class="form-control" name="review[body]" id="body" cols="3" rows="3"
                            required></textarea>
                    </div>
                    <button class="btn btn-success">Submit</button>
                </form>
                <% } %>

                    <!-- Displaying Reviews -->
                    <div class="mb-3">
                        <% for(rv of cp.reviews){ %>
                            <div class="card mb-2">
                                <div class="card-body">
                                    <h5 class="card-title">
                                        <p class="starability-result" data-rating="<%=rv.rating%>"> </p>
                                    </h5>
                                    <div class="card-subtitle mb-2 text-muted">By <%=rv.author.username %>
                                    </div>
                                    <p class="card-text">
                                        Review: <%=rv.body %>
                                    </p>
                                    <% if(currentUser && rv.author.equals(currentUser._id)){ %>
                                        <form action="/campgrounds/<%=cp._id%>/reviews/<%=rv._id%>?_method=DELETE"
                                            method="POST">
                                            <button class="btn btn-sm btn-danger">Delete</button>
                                        </form>
                                        <% } %>
                                </div>
                            </div>
                            <% } %>
                    </div>
        </div>
    </div>

    <script>
        const maptilerApiKey = '<%- process.env.MAPTILER_API_KEY %>';
        let campground = '<%- JSON.stringify(cp) %>';
    </script>
    <script src="/showPageMap.js"></script>